<%- include('partials/header'); -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">No post with such url!</h1>
      <p class="lead">There exists no url. Kindly check the url and try again! Happy blogging!</p>
    </div>
</div>
<%- include('partials/footer'); -%>